{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login - E learning{% endblock %}
{% block content %}

<link rel="stylesheet" href="../../static/css/log_in.css">
<div class="container" style="margin-right: 130px;">
    <div class="left-section" style="background: linear-gradient(to bottom, #2d09f7, #45033a);">
        <div class="illustration">
            <img src="../static/img/Screenshot_man.png" sizes="(max-width: 512px) 100vw, 512px" alt="Illustration">
        </div>
    </div>
    <div class="right-section">
        <div class="form-container">
            <h2>Welcome Back </h2>
            <h3><strong>Are you ready for Learning?!</strong></h3>
            <br>
            <hr><br>
            <p><strong>Start Learning with OUR TEACHER Now</strong></p>

            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Name</label>
                    <input type="text" id="username" name="username" placeholder="Your Name" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="8+ characters" required
                        minlength="8">
                </div>
                <button type="submit" class="login-btn">Log in</button>
            </form>
            <br>
            <p>You don't have an account? <a class="link" href="{% url 'register' %}">Sign up</a></p>
            <p>Or create account with:</p>
            <div class="social-icons">
                <a href="#"><img src="../static/img/facebook.png" alt="Facebook" loading="lazy"></a>
                <a href="#"><img src="../static/img/linkedin.png" alt="LinkedIn" loading="lazy"></a>
                <a href="#"><img src="../static/img/google copy.png" alt="Google" loading="lazy"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}