{% extends 'base.html' %}

{% block title %}About{% endblock %}
{% block content %}

{% load static %}

<div class="content" style="margin-left: 140px; padding: 5px;">
    <!-- Main content next to Sidebar -->
    <div class="flex-grow-1 d-flex flex-column">
        
            <!-- Header section with profile and search -->
        <div class="d-flex justify-content-between align-items-center p-4 bg-light"
        style="position: absolute; top: 10px; right: 20px;">
            <div class="d-flex align-items-center">
                <!-- Notification icon -->
                <i class="fas fa-bell me-3" style="font-size: 1.5rem; cursor: pointer;"
                    data-bs-toggle="offcanvas" data-bs-target="#notificationCanvas"
                    aria-controls="#notificationCanvas"></i>
                <!-- Saved items button -->
                <i class="fas fa-bookmark me-3" style="font-size: 1.5rem; cursor: pointer;"
                    data-bs-toggle="offcanvas" data-bs-target="#savedItemsCanvas"
                    aria-controls="savedItemsCanvas"></i>
            </div>
        </div>
        <section class="p-4" style="animation: fadeIn 1s ease-in-out;">
            <h1 style="color: rgb(77, 0, 116);">- Welcome, {{ user_profile.user.username }}!</h1>
            <!-- Profile image -->
            <img src="{% static 'img/profile.jpg' %}" alt="Profile" width="100" height="120"
            class="rounded-circle" style="cursor: pointer; padding: 10px;">
            <p>Email: {{ user_profile.user.email }}</p>
            <p>Role: {{ user_profile.get_user_type_display }}</p>

            <h2 style="color: rgb(77, 0, 116);">- Your Profile Information</h2>
            <ul>
                <li><strong>User Name: </strong> {{ user_profile.user.username }}</li>
                <li><strong>Email: </strong> {{ user_profile.user.email }}</li>
                <li><strong>Role: </strong> {{ user_profile.get_user_type_display }}</li>
            </ul>

            {% if user_profile.is_teacher %}
            <h2 style="color: rgb(77, 0, 116);">- Created Courses:</h2>
            {% if created_courses %}
                <ul>
                    {% for course in created_courses %}
                    <li><strong>{{ course.title }}</strong></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven't created any courses yet.</p>
            {% endif %}
            {% else %}
            <h1 style="color: rgb(77, 0, 116);">- Enrolled Courses</h1>
            <br>
            <div class="row">
                {% for enrollment in enrolled_courses %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body" style="height: 140px;">
                            <h5 class="card-title">{{ enrollment.course.title }}</h5>
                            <br>
                            <!--<p class="card-text">{{ enrollment.course.description }}</p>-->
                            <a href="{% url 'view_course' enrollment.course.id %}" class="btn btn-success"
                                style="background-color: rgb(50, 1, 95); border: none; position: absolute; bottom: 8px; left: 12px;">View Course</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>You have not enrolled in any courses yet.</p>
                {% endfor %}
            </div>
            {% endif %}
        </section>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="savedItemsCanvas"
        aria-labelledby="savedItemsCanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="savedItemsCanvasLabel">Saved Items</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Your saved items will appear here.</p>
            <!-- Saved items content -->
        </div>
	</div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="notificationCanvas"
        aria-labelledby="notificationCanvasLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="notificationCanvasLabel">Notification</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>No notification appear yet.</p>
            <!-- notification content -->
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}